@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply p-0 m-0 box-border;
  }

  body {
    @apply bg-primary font-inter overflow-x-hidden text-white;
  }

  h1,
  h2,
  h3 {
    @apply font-outfit;
  }
}

@layer utilities {
  /* SECTION STYLE */
  .main-container {
    @apply px-4 md:px-10 xl:px-12 2xl:px-0 max-w-screen-2xl mx-auto;
  }
  .section-padding {
    @apply pt-8 sm:pt-10 md:pt-14 lg:pt-16 xl:pt-20 2xl:pt-32;
  }
  .mobile-nav-margin {
    @apply mt-[68px] md:mt-[78px] lg:mt-0;
  }

  /* OTHER */
  .flex-center {
    @apply flex items-center justify-between;
  }
  .color-transition {
    @apply transition-colors duration-300 ease-in-out;
  }
  .all-transition {
    @apply transition-all duration-300 ease-in-out;
  }

  /* BTN STYLE & GRADIENT */
  .primary-gradient {
    @apply bg-gradient-to-r from-gradient to-gradient-foreground;
  }
  .secondary-gradient {
    @apply bg-gradient-to-r to-[#FFC947] from-[#FC6739];
  }
  .accent-gradient {
    @apply bg-gradient-to-r from-accent to-gradient-foreground;
  }

  /* TEXT STYLE */
  .heading {
    @apply text-4xl md:text-4xl lg:text-5xl xl:text-6xl;
  }
  .sub-heading {
    @apply text-3xl md:text-2xl lg:text-3xl xl:text-4xl font-semibold;
  }
  .cta-heading {
    @apply text-3xl md:text-2xl lg:text-3xl xl:text-4xl font-semibold;
  }
  .title-heading {
    @apply text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-2xl;
  }
  .desc-text {
    @apply text-xs lg:text-sm xl:text-base 2xl:text-lg;
  }
  .link-text {
    @apply text-[10px] lg:text-xs xl:text-sm 2xl:text-base;
  }
  .mini-text {
    @apply text-[10px] lg:text-xs 2xl:text-sm;
  }
}

/* CUSTOM STYLES */
@media (min-width: 1280px) {
  .perspectiveText {
    p {
      &:nth-of-type(2) {
        transform: rotateX(-90deg) translateY(14px);
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .perspectiveText {
    p {
      &:nth-of-type(2) {
        transform: rotateX(-90deg) translateY(12px);
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .perspectiveText {
    p {
      &:nth-of-type(2) {
        transform: rotateX(-90deg) translateY(10px);
      }
    }
  }
}
@media (max-width: 768px) {
  .perspectiveText {
    p {
      &:nth-of-type(2) {
        transform: rotateX(-90deg) translateY(8px);
      }
    }
  }
}

.perspectiveText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 0.4s cubic-bezier(0.61, 1, 0.88, 1);

  p {
    transition: all 0.4s cubic-bezier(0.61, 1, 0.88, 1);
    pointer-events: none;

    &:nth-of-type(2) {
      position: absolute;
      transform-origin: bottom center;
      opacity: 0;
    }
  }
}

.customButton {
  &:hover {
    .perspectiveText {
      transform: rotateX(90deg);

      p {
        &:nth-of-type(1) {
          transform: translateY(-100%);
          transition: all 0.4s cubic-bezier(0.61, 1, 0.88, 1);
          opacity: 0;
        }

        &:nth-of-type(2) {
          opacity: 1;
        }
      }
    }
  }
}

.secondary-btn {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}

/* custom scroll bar */
body::-webkit-scrollbar {
  width: 5px;
  background-color: #1d1d1f;
}

/* Custom scrollbar thumb */
body::-webkit-scrollbar-thumb {
  background-color: #a374ff;
  border-radius: 4px;
}